RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI}
#RewriteRule "(^index.php*)" "https://%{HTTP_HOST}%{REQUEST_URI}"

RewriteBase /netbeans/trgovina/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php/$1 [L,PT,QSA]

SSLVerifyClient require
SSLVerifyDepth 1
SSLOptions +ExportCertData
SSLRequire %{SSL_CLIENT_S_DN_CN} eq "administrator"